{% extends "base_generic.html" %}

{% block content %}
<form action="<a href=#>" method="post">
{% csrf_token %}
    <fieldset>
        <legend><h1>{{ truck }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for handling_unit in handling_unit_list %}
            <input type="radio" name="entry" id="entry{{ forloop.counter }}" value="{{ handling_unit.id }}">
            <label for="entry{{ forloop.counter }}">{{ handling_unit }}</label><br>
        {% endfor %}
    </fieldset>
</form>
{% endblock %}
