{% extends "base.html" %}

{% block content %}
  <form method="post" enctype="multipart/form-data" class="needs-validation row">
  {% csrf_token %}
  {{ formset.management_form }}
    {% for form in formset %}
    <div class="col-4">
      {{ form.material_description }}
    </div>
    <div class="col-3">
      {{ form.material }}
    </div>
    <div class="col-2">
      {{ form.quantity }}
    </div>
    <div class="col-1">
      {{ form.checked }}
    </div>
    <div class="col-2">
      {{ form.quantity_received }}
    </div>
    {% endfor %}

    <input type="button" value="Add More" id="add_more">
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <div id="empty_form" style="display:none">
    <table>
      <tr>
        {% for field in formset.empty_form %}
        <td>{{ field.errors }}{{ field }}</td>
        {% endfor %}
      </tr>
    </table>
  </div>

<script type="text/javascript">
$('#add_more').click(function() {
  //total number of forms
  var form_idx = $('#id_form-TOTAL_FORMS').val();

  //remove readonly attributes
  $('#id_form-__prefix__-material_description').removeAttr('readonly');
  $('#id_form-__prefix__-material').removeAttr('readonly');

  $('#id_form-__prefix__-material_description').prop('required', true);
  $('#id_form-__prefix__-material').prop('required', true);
  $('#id_form-__prefix__-quantity_received').prop('required', true);

  //$('#id_form-__prefix__-quantity').removeAttr('readonly');
  $('#form_set').find('tbody').append($('#empty_form').find('tbody').html().replace(/__prefix__/g, form_idx));
  var qty_id = '#id_form-' + form_idx + '-quantity'
  $(qty_id).val('0');
  $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
  });

</script>
{% endblock %}
