{% extends "base.html" %}

{% block content %}
<h2 class="text-center text-primary">CW{{ truck.cw }} - Truck{{ truck.truck_number }}</h2>
<div class="d-grid gap-2">
  <input class="btn btn-outline-primary" type="number" id="search" placeholder="Search handling units">
</div>
<div class="table-responsive">
  <table id="form_set" class="table table-sm table-hover">
    {% for handling_unit in handling_units %}
    <tr>
      <td><a class="btn btn-outline-secondary btn-lg" href="{% url 'trucks:handling-unit-detail' truck.id handling_unit.0 %}">{{ handling_unit.0 }}</td>
      <td><span id="checked_badge" class="badge bg-secondary rounded-pill">{{ handling_unit.1 }}</span></td>
      <td><span id="total_badge" class="badge bg-info text-white rounded-pill">{{ handling_unit.2 }}</span></a></td>
      <td><span id="claim_badge" class="badge bg-light rounded-pill">0</span></td>
    </tr>
    {% endfor %}
  </table>
</div>

<script type="text/javascript">
window.addEventListener("load", function() {
  $("#form_set tr").each(function(){
    var checked_badge = $(this).find("#checked_badge");
    var total_badge = $(this).find("#total_badge");
    var claim_badge = $(this).find("#claim_badge");

    if (checked_badge.text() === total_badge.text()) {
      checked_badge.removeClass("bg-secondary");
      checked_badge.addClass("bg-info");
    }

    if (parseInt(claim_badge.text(), 10) > 0) {
      console.log("in IF");
      claim_badge.removeClass("bg-light");
      claim_badge.addClass("bg-danger");
    }
  });
});
</script>
{% endblock %}

